<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
</head>
<body>

<!-- predict-form.component.html -->
<form (ngSubmit)="onSubmit()" #predictForm="ngForm">
  <div class="form-group">
    <label for="distance_from_home">Distance from Home</label>
    <input type="number" class="form-control" id="distance_from_home" name="distance_from_home" [(ngModel)]="predict.distance_from_home" required>
  </div>
  <div class="form-group">
    <label for="distance_from_last_transaction">Distance from Last Transaction</label>
    <input type="number" class="form-control" id="distance_from_last_transaction" name="distance_from_last_transaction" [(ngModel)]="predict.distance_from_last_transaction" required>
  </div>
  <div class="form-group">
    <label for="ratio_to_median_purchase_price">Ratio to Median Purchase Price</label>
    <input type="number" class="form-control" id="ratio_to_median_purchase_price" name="ratio_to_median_purchase_price" [(ngModel)]="predict.ratio_to_median_purchase_price" required>
  </div>
  <div class="form-group">
    <label for="repeat_retailer">Repeat Retailer</label>
    <input type="number" class="form-control" id="repeat_retailer" name="repeat_retailer" [(ngModel)]="predict.repeat_retailer" required>
  </div>
  <div class="form-group">
    <label for="used_chip">Used Chip</label>
    <input type="number" class="form-control" id="used_chip" name="used_chip" [(ngModel)]="predict.used_chip" required>
  </div>
  <div class="form-group">
    <label for="online_order">Online Order</label>
    <input type="number" class="form-control" id="online_order" name="online_order" [(ngModel)]="predict.online_order" required>
  </div>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>

<div *ngIf="isFraud">
  <p>C'est une fraude</p>

</div>
</body>
</html>
